name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cicd-demo-app

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: cicd-demo-app/package-lock.json

    - run: npm ci

    - run: npm test

  docker:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-buildx-action@v3

    - uses: docker/build-push-action@v5
      with:
        context: ./cicd-demo-app
        push: false
        tags: cicd-demo-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: docker


    steps:
    - run: echo "Triggering Render Deploy..."

    - if: ${{ secrets.RENDER_DEPLOY_HOOK_URL != '' }}
      run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
